.draftPosition {
  display: block;
  margin-right: 5px;
}


.drafter-avatar {
  background-image: url('/images/basketball.png');
  height: 50px;
  width: 50px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}

.drafter-name {

  display: inline-block;
  vertical-align: middle;

  &.is-drafting {
    background-color: green;

  }
}

