$bracket-width: 115px;

.bracket {
  position: relative;
  .bracketSchool {
    border-bottom: 1px solid black;
    font-size: 12px;
    height: 14px;
  }
  .yourSchool {
    color: red;
  }

  .winner {
    font-weight: bolder;
  }

  .loser {
    text-decoration: line-through;
  }
  div {
    position: absolute;
    width: $bracket-width;

    .border-div {
      position: absolute;
      border-right: 1px solid black;
    }

    &.right {
      .border-div {
        border-left: 1px solid black;
        border-right: none;
      }
    }

  }


  .round-one {
    top: 0;
    left: 0;
    &.right {
      left: $bracket-width * 12;
    }

  }

  .round-two {
    left: $bracket-width * 1;
    top: 15px;
     &.right {
        left: -$bracket-width;
      }
    .bracketSchool {
      margin-bottom: 39px;
    }

  }
 .round-sixteen {
    left: $bracket-width;
    top: 30px;
   &.right {
      left: -$bracket-width;
    }
    .bracketSchool {
      margin-bottom: 93px;
    }

  }
 .round-eight {
    left:  $bracket-width;
    top: 55px;
   &.right {
      left: -$bracket-width;
    }
    .bracketSchool {
      margin-bottom: 203px;
    }

    .division {
      top: 95px;
      left: 20px;
      &.division-two {
        top: 522px;
      }
    }
  }
 .round-four {
    left: $bracket-width;
    top: 110px;
    &.right {
      left: -$bracket-width;
    }
    .bracketSchool {
      margin-bottom: 408px;
    }

  }
 .round-final {
    left: $bracket-width;
    top: 96px;
    .border-div {
      top: 26px;
      height: 128px;
    }
    &.right {
      left: -$bracket-width;
      top: 340px;
      .border-div {
        top: -79px;
        height: 94px;
      }
    }
    .bracketSchool {
      margin-bottom: 321px;
    }

  }
 .champion {
    left: $bracket-width * 6;
    top: 445px;
  }
  .main &{
    height: 300px;
    width: 300px;
    float: right;

  }

  .playin {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 640px;
    left: 481px;

    h2 {
      text-align: center;
    }
    .bracket-container {
      position: relative;
    }

    .playInBracket {
      position: absolute;
      float: left;
      width: 200px;
      height: 200px;
      &.bracket-0{
        top: 0;
        left: 67px;
      }
      &.bracket-1{
        top: 0;
        left: 283px;

      }
      &.bracket-2{
        top: 100px;
        left: 67px;
      }
      &.bracket-3{
        top: 100px;
        left: 283px;
      }

      .playInSchools {
        width: $bracket-width;
        .bracketSchool-container:nth-child(odd){
          .border-div {
            height: 28px;
            top: 14px;
          }
        }
      }
    }

  }
}
$bracket-height: 12px;

.bracketSchool-container:nth-child(odd) {
    .border-div {
      .round-one &{
        top: 14px;
        height: 28px;
      }
      .round-two &{
        top: -40px;
        height: 55px;
      }
      .round-sixteen &{
        top: -94px;
        height: 109px;
      }
      .round-eight &{
        top: -204px;
        height: 219px;
      }
      .round-four &{
        top: -409px;
        height: 424px;
      }

    }
  }


