li {
  list-style: none;
}

body {
  background: #c4c4c4;
}

.round-info {
  position: absolute;
  top: 100px;
  left: 50%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
  transform: translateX(-50%);
  font-size: 24px;
}

.team-box {
  border: 3px solid black;
  width: 230px;
  max-height: 400px;
  overflow: auto;
  &.teamPool {
    background-color: #b99abe;
    position: absolute;
    top: 310px;
    left: 50%;
    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    transform: translateX(-50%);

  }
  &.userTeam {
    background-color: #9dbcf3;
    position: absolute;
    right: 0;
    top: 200px;
  }
   &.otherTeam {
    background-color: #8483a2;
    float: left;
  }
  .team-list {
    padding: 0;
  }
  .schoolSlot {
    // :hover {
    //   background-size: 215px 20px;
    //   background-color: #e7ceeb;
    // }
  }
  .school {
    // border: 1px solid black;
    width: 100%;
    // :hover {
    //   .userTeam &{
    //     background-size: 100%;
    //     background-color: #c4d3ef;
    //   }
    // }
    a {
      padding: 12px;
      text-align: left;
      text-decoration: none;
      display: block;
      line-height: 5px;
      .userTeam &   {
        height: 10px;
        padding-top: 0;
      }
    }
  }
}
td {
  width: 20px;
  border: 1px solid green;
}

.ranking-switch {
  position: absolute;
  top: 200px;
  left: 50%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
  transform: translateX(-50%);

}
.ranking-button {
  padding: 10px;
  font-size: 16px;
  margin: 0 5px 5px;
  &.ranking-on {
    background: yellow;
  }
}


.chat-window {
  position: absolute;
  right: 0;
  top: 400px;
  height: 300px;
  width: 500px;
  background-color: #d3d3d3;
  border: 1px solid black;

  .messages {
    overflow: auto;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 220px;
    border-bottom: 1px solid black;

    ul {
      margin-top: 40px;
    }
    .message-user {
      display: inline-block;
      color: red;
      margin: 2px 0;
    }
    .message-content{
      display: inline-block;
      color: blue;
      margin: 2px 5px;
    }
  }

  .typeMessage {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 18px;
  }
}

.topTarget {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 1px solid black;
}

.bottomTarget {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  border-bottom: 1px solid black;
}

.school {
  position: relative;

  .bottomTarget &{
    display: none;
    border: none;
  }

  .topTarget &{
    top: -4px;
    border: none;
  }
}

.bracketLink {
  background-image: url('/images/bracket.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 900px;
  height: 900px;
  display: block;
  margin: 0 auto;
  .main &{
    height: 300px;
    width: 300px;
    float: right;

  }
}


