li {
  list-style: none;
}

.main {
  background: #aaa;
}

.team-box {
  border: 3px solid black;
  width: 230px;
  max-height: 600px;
  overflow: auto;
  &.teamPool {
    background-color: #b99abe;
    float: left;
  }
  &.userTeam {
    background-color: #9dbcf3;
    float: right;
  }
   &.otherTeam {
    background-color: #8483a2;
    float: left;
  }
  .team-list {
    padding: 0;
  }
  .schoolSlot {
    // :hover {
    //   background-size: 215px 20px;
    //   background-color: #e7ceeb;
    // }
  }
  .school {
    // border: 1px solid black;
    width: 100%;
    // :hover {
    //   .userTeam &{
    //     background-size: 100%;
    //     background-color: #c4d3ef;
    //   }
    // }
    a {
      padding: 12px;
      text-align: left;
      text-decoration: none;
      display: block;
      line-height: 5px;
      .userTeam &{
        height: 10px;
      }
    }
  }
}

.ranking-button {
  padding: 10px;
  font-size: 16px;
  margin: 0 5px 5px;
  &.ranking-on {
    background: yellow;
  }
}

.bracket {
  background-image: url('/images/bracket.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 900px;
  height: 900px;
  display: block;
  margin: 0 auto;
  .main &{
    height: 300px;
    width: 300px;
    float: right;

  }
}
.chat-window {
  position: relative;
  height: 300px;
  width: 500px;
  background-color: #d3d3d3;
  clear: left;

  .messages {
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    height: 280px;
    border: 1px solid black;
    .message-user {
      display: inline-block;
      color: red;
    }
    .message-content{
      display: inline-block;
      color: blue;
      margin-left: 5px;
    }
  }

  .typeMessage {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 18px;
  }
}

.topTarget {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 1px solid black;
}

.bottomTarget {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  border-bottom: 1px solid black;
}

.school {
  position: relative;

  .bottomTarget &{
    display: none;
    border: none;
  }

  .topTarget &{
    top: -4px;
    border: none;
  }
}

