li {
  list-style: none;
}

.team-box {
  border: 3px solid black;
  width: 200px;
  max-height: 600px;
  overflow: auto;
  &.teamPool {
    background-color: #b99abe;
    float: left;
  }
  &.userTeam {
    background-color: #9dbcf3;
    float: right;
  }
   &.otherTeam {
    background-color: #8483a2;
    float: left;
    margin-left: 200px;
  }
  .team-list {
    padding: 0;
  }
  .school {
    border: 1px solid black;
    width: 100%;
    :hover {
      background-size: 100%;
      background-color: #e7ceeb;
      .userTeam &{
        background-color: #c4d3ef;
      }
    }
    a {
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: block;
      line-height: 5px;
      .userTeam &{
        height: 10px;
      }
    }
  }
}

.bracket {
  background-image: url('/images/bracket.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 900px;
  height: 900px;
  display: block;
  margin: 0 auto;
  .main &{
    height: 300px;
    width: 300px;
    float: right;

  }
}